body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #17153b;
  color: white;
}

h1 {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-size: normal;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

#guestBookEntries {
  border-color: white;
  border-width: 2px;
  border-style: dashed;
  max-height: 600px;
  overflow-y: scroll;
  padding: 10px;
  background-color: #2e236c;
  width: 45%; /* Adjust width as needed */
}

form {
  width: 45%; /* Adjust width as needed */
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #2e236c;
  border-style: dashed;
  color: white;
}
textarea {
    height: 100px;
    font-family: 'Roboto', sans-serif;
}
.submit {
  background-color: #2e236c;
  color: white;
  padding: 15px 32px;
  border-radius: 10px;
  font-weight: bold;
}
.submit:hover {
  background-color: lightgrey;
  color: black;
}

#status {
    color: lightgreen;
}